<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!verificationComplete">
    <p>Ingresa el código que enviamos a <strong>{{ email }}</strong>.</p>
    
    <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">
      <ion-list>
        <ion-item>
          <ion-input
            label="Código"
            labelPlacement="floating"
            type="text"
            formControlName="codigo"
            maxlength="6">
          </ion-input>
        </ion-item>
      </ion-list>
      
      <ion-button type="submit" expand="block" [disabled]="codeForm.invalid" class="ion-margin-top">
        Verificar
      </ion-button>
    </form>
  </div>

  <div *ngIf="verificationComplete">
    <p>Ingresa tu nueva contraseña y confírmala.</p>
    
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input
            label="Nueva Contraseña"
            labelPlacement="floating"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            helperText="Mínimo 6 caracteres"
            [errorText]="getPasswordError()"
            [class.ion-invalid]="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-input
            label="Confirmar Nueva Contraseña"
            labelPlacement="floating"
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            errorText="Las contraseñas no coinciden."
            [class.ion-invalid]="resetForm.errors?.['passwordsMismatch'] && resetForm.get('confirmPassword')?.touched">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="toggleConfirmPasswordVisibility()">
            <ion-icon slot="icon-only" [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      
      <ion-button type="submit" expand="block" class="ion-margin-top">
        Guardar Contraseña
      </ion-button>
    </form>
  </div>
</ion-content>