<ion-button (click)="goBack()" class="back-button-floating-new">
  <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
</ion-button>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="header-content">
      <ion-title size="large" class="ion-text-center ion-padding-bottom">¿Olvidaste tu Contraseña?</ion-title>

      <p class="ion-text-center ion-padding-bottom">Introduce tu correo electrónico para enviarte un código de verificación.</p>
      
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        
        <ion-item fill="outline" class="ion-margin-bottom">
          <input type="email" formControlName="email" placeholder="Correo Electrónico" class="native-input"/>
        </ion-item>
        <div *ngIf="f['email'].touched && f['email'].errors" class="error-message">
          <p *ngIf="f['email'].errors['required']">El correo es obligatorio.</p>
          <p *ngIf="f['email'].errors['email']">Formato de correo inválido.</p>
        </div>
        
        <ion-button 
          type="submit" 
          expand="block" 
          [disabled]="forgotForm.invalid" 
          class="ion-margin-top">
          Enviar Código
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>