<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    
    <ion-item>
      <ion-input
        label="Correo Electrónico"
        labelPlacement="floating"
        type="email"
        formControlName="email"
        errorText="Por favor, ingresa un correo válido."
        [class.ion-invalid]="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
      </ion-input>
    </ion-item>
    
    <ion-button 
      type="submit" 
      expand="block" 
      [disabled]="forgotForm.invalid" 
      class="ion-margin-top">
      Enviar Correo
    </ion-button>
  </form>
</ion-content>