<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="header-content">
      <ion-title size="large" class="ion-text-center ion-padding-bottom">¿Olvidaste tu Contraseña?</ion-title>

      <p class="ion-text-center ion-padding-bottom">Introduce tu correo electrónico para enviarte un código de verificación.</p>
      
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        
        <ion-item fill="outline" class="ion-margin-bottom">
          <input type="email" formControlName="email" placeholder="Correo Electrónico" class="native-input"/>
        </ion-item>
        <div *ngIf="f['email'].touched && f['email'].errors" class="error-message">
          <p *ngIf="f['email'].errors['required']">El correo es obligatorio.</p>
          <p *ngIf="f['email'].errors['email']">Formato de correo inválido.</p>
        </div>
        
        <ion-button 
          type="submit" 
          expand="block" 
          [disabled]="forgotForm.invalid" 
          class="ion-margin-top">
          Enviar Código
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>

<style>
  ion-content {
    --background: #f4f5f8;
  }

  .header-container {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=1974&auto.format&fit=crop');
    background-size: cover;
    background-position: center;
    color: white;
  }

  .header-content {
    max-width: 450px; 
    width: 100%;
    margin: 0 auto;
  }

  ion-title {
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
  }

  ion-item {
    --background: rgba(255, 255, 255, 0.9);
    --border-radius: 10px;
    color: #333;
    --placeholder-color: #888;
    margin-bottom: 16px;
  }

  .native-input {
    border: none;
    background: transparent;
    width: 100%;
    padding: 16px 10px;
    font-size: inherit;
    color: #000 !important;
    outline: none; 
    flex: 1; 
    position: relative;
    z-index: 2;
  }

  ion-item::part(native) {
    padding-left: 0; 
    padding-right: 0; 
    display: flex; 
    align-items: center; 
  }

  .native-input::placeholder {
    color: #888;
    opacity: 1;
  }

  ion-label {
      color: #555 !important;
  }

  ion-icon {
      color: var(--ion-color-medium-shade);
      position: relative;
      z-index: 3;
  }

  a {
      color: var(--ion-color-light);
  }

  p {
      color: #eee;
  }

  .error-message {
    margin-top: -10px;
    margin-bottom: 16px;
    padding-left: 15px;
  }

  .error-message p {
    color: var(--ion-color-warning);
    font-size: 0.8em;
    margin: 2px 0;
    background-color: rgba(0,0,0,0.6);
    padding: 3px 6px;
    border-radius: 3px;
    display: inline-block;
  }
</style>