<ion-button (click)="goBack()" class="back-button-floating-new">
  <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
</ion-button>

<ion-content [fullscreen]="true">
  <div class="header-container"> 
    <div class="header-content">
      <ion-title size="large" class="ion-text-center ion-padding-bottom">Iniciar Sesión</ion-title>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        
        <ion-item fill="outline" class="ion-margin-bottom">
          <input #emailInput type="email" formControlName="email" placeholder="Correo Electrónico" class="native-input"/>
        </ion-item>
        <div *ngIf="f['email'].touched && f['email'].errors" class="error-message">
          <p *ngIf="f['email'].errors['required']">El correo es obligatorio.</p>
          <p *ngIf="f['email'].errors['email']">Formato de correo inválido.</p>
        </div>

        <ion-item fill="outline" class="ion-margin-bottom">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Contraseña" class="native-input"/>
          <ion-icon slot="end" 
                    [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                    (click)="togglePasswordVisibility()"
                    aria-label="Toggle password visibility"></ion-icon>
        </ion-item>
        <div *ngIf="f['password'].touched && f['password'].errors" class="error-message">
          <p *ngIf="f['password'].errors['required']">La contraseña es obligatoria.</p>
          <p *ngIf="f['password'].errors['minlength']">Mínimo 6 caracteres.</p>
        </div>

        <p class="ion-text-end ion-padding-bottom">
          <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
        </p>

        <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">
          Entrar
        </ion-button>

        <p class="ion-text-center ion-margin-top">
          ¿No tienes cuenta? <a routerLink="/register">Regístrate</a>
        </p>
      </form>
    </div>
  </div>
</ion-content>