<ion-button (click)="dismiss()" class="back-button-floating-new">
  <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
</ion-button>

<ion-content [fullscreen]="true">
  <div class="modal-header-container">
    <div class="modal-header-content">
      <h2 class="modal-page-title">Solicitud para Crítico</h2>

      <ion-card class="modal-card">
        <ion-card-content>
          <p>Explica por qué deberías ser un crítico y, si tienes, comparte enlaces a tus trabajos (blog, redes sociales, etc.).</p>

          <form [formGroup]="requestForm" (ngSubmit)="submit()">
            <ion-item fill="outline" class="ion-margin-bottom input-item">
              <textarea
                formControlName="motivo"
                placeholder="Motivación (mín. 20 caracteres)..."
                rows="5"
                class="native-textarea"></textarea>
            </ion-item>
            @if (f['motivo'].touched && f['motivo'].errors) {
              <div class="error-message">
                @if (f['motivo'].errors['required']) {
                  <p>La motivación es requerida.</p>
                }
                @if (f['motivo'].errors['minlength']) {
                  <p>Debe tener al menos 20 caracteres.</p>
                }
              </div>
            }

            <ion-item fill="outline" class="ion-margin-bottom input-item">
              <input
                formControlName="enlaces"
                placeholder="Enlaces (opcional)..."
                type="text"
                class="native-input"/>
            </ion-item>

            <ion-button type="submit" expand="block" [disabled]="requestForm.invalid" class="ion-margin-top submit-button">
              Enviar Solicitud
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>

    </div>
  </div>
</ion-content>