<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="header-content">

      @if (userAuthenticated) {
        <ion-card class="profile-card">
          <div class="user-avatar-section">
            <ion-icon name="person-circle" class="user-avatar"></ion-icon>
            <ion-card-title class="ion-text-center">{{ userName }}</ion-card-title>
            <ion-card-subtitle class="ion-text-center">{{ userEmail }}</ion-card-subtitle>
          </div>

          <ion-list lines="full" class="ion-margin-top">

            @if (currentUserRole === 'admin') {
              <ion-item button detail (click)="goToAdminPanel()">
                <ion-icon slot="start" name="shield-checkmark-outline" color="success"></ion-icon>
                <ion-label>Panel de Admin</ion-label>
              </ion-item>
            }
            @if (currentUserRole === 'usuario') {
              <ion-item button detail (click)="openCriticRequestModal()">
                <ion-icon slot="start" name="ribbon-outline" color="secondary"></ion-icon>
                <ion-label>Solicitar ser Crítico</ion-label>
              </ion-item>
            }
            @if (currentUserRole === 'critico') {
              <ion-item lines="none" detail="false">
                <ion-icon slot="start" name="ribbon" color="primary"></ion-icon>
                <ion-label>Ya eres Crítico</ion-label>
              </ion-item>
            }

          </ion-list>

          <ion-button expand="block" color="danger" class="ion-margin-top" (click)="onLogout()">
            Cerrar Sesión
          </ion-button>
        </ion-card>
      } @else {
        <ion-card class="guest-card">
          <ion-icon name="film-outline" class="guest-icon"></ion-icon>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Únete a la Comunidad</ion-card-title>
            <ion-card-subtitle class="ion-text-center">Inicia sesión o regístrate para poder dejar tus propias reseñas y puntuaciones.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-padding">
            <ion-button expand="block" (click)="goToLogin()" class="ion-margin-bottom">
              INICIAR SESIÓN
            </ion-button>
            <ion-button expand="block" fill="outline" (click)="goToRegister()">
              REGISTRARSE
            </ion-button>
          </ion-card-content>
        </ion-card>
      }

    </div>
  </div>
</ion-content>