<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="(isLoggedIn$ | async) === false">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Únete a la Comunidad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Inicia sesión o regístrate para poder dejar tus propias reseñas y puntuaciones.</p>
        <ion-button expand="block" routerLink="/login" class="ion-margin-top">Iniciar Sesión</ion-button>
        <ion-button expand="block" routerLink="/register" fill="outline">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="user">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Bienvenido, {{ user.nombre }}!</ion-card-title>
        <ion-card-subtitle>Rol: {{ user.rol }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
        <ion-button *ngIf="user.rol === 'usuario' && user.estado === 'activo'" (click)="requestCritic()" expand="block" fill="outline">
          Solicitar ser Crítico
        </ion-button>
        
        <ion-chip *ngIf="user.estado === 'pendiente_critico'" color="warning">
          <ion-icon name="hourglass-outline"></ion-icon>
          <ion-label>Solicitud de Crítico Pendiente</ion-label>
        </ion-chip>
        
        <ion-chip *ngIf="user.rol === 'critico'" color="primary">
          <ion-icon name="ribbon-outline"></ion-icon>
          <ion-label>Rol: Crítico</ion-label>
        </ion-chip>

        <ion-button *ngIf="user.rol === 'admin'" expand="block" routerLink="/admin" class="ion-margin-top">
          Panel de Administrador
        </ion-button>
        
        <ion-button expand="block" color="danger" (click)="logout()" class="ion-margin-top">Cerrar Sesión</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>