<ion-content [fullscreen]="true">
    <div class="header-container">
        <div class="header-content">
            <ion-title size="large">Encuentra tu Próxima Película</ion-title>
            <ion-searchbar
                #searchbar
                placeholder="Buscar por nombre..."
                (ionInput)="handleSearch($event)"
                [debounce]="500">
            </ion-searchbar>
            <ion-item lines="none" class="genre-selector">
                <ion-select
                    label="O explora por género"
                    interface="popover"
                    (ionChange)="handleGenreChange($event)">
                    @for (genre of genres; track genre.id) {
                      <ion-select-option [value]="genre.id">
                        {{ genre.name }}
                      </ion-select-option>
                    }
                </ion-select>
            </ion-item>
        </div>
    </div>

    <div class="results-container">
        @if (searchResults.length === 0 && !isLoading) { <div class="empty-state">
            <ion-icon name="film-outline"></ion-icon>
            <p>Usa la búsqueda o selecciona un género para ver resultados.</p>
          </div>
        } @else {
          <ion-grid>
              <ion-row>
                  @for (movie of searchResults; track movie.id) {
                    <ion-col size="6" size-md="4" size-lg="3">
                        <a [routerLink]="['/movie', movie.id]">
                            <ion-card class="movie-card">
                                @if (movie.poster_path) {
                                  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
                                } @else {
                                  <div class="no-image-placeholder">
                                      <ion-icon name="videocam-off-outline"></ion-icon>
                                  </div>
                                }
                                <div class="card-title-background">
                                    <ion-card-title>{{ movie.title }}</ion-card-title>
                                </div>
                            </ion-card>
                        </a>
                    </ion-col>
                  }
              </ion-row>
          </ion-grid>
        }
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando más...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>