<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Películas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="onSortChange($event)" [value]="sortBy">
      <ion-segment-button value="popularity.desc"><ion-label>Populares</ion-label></ion-segment-button>
      <ion-segment-button value="release_date.desc"><ion-label>Recientes</ion-label></ion-segment-button>
      <ion-segment-button value="vote_average.desc"><ion-label>Mejor Puntuadas</ion-label></ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="movies.length === 0">
    <ion-row>
      <ion-col size="6" *ngFor="let i of [1,2,3,4,5,6]">
        <ion-card class="movie-card">
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 250px;"></ion-skeleton-text>
          <ion-card-header>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="movies.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies">
        <a [routerLink]="['/movie', movie.id]">
          <ion-card class="movie-card">
            <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>