<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Películas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)" value="recientes" mode="md">
      <ion-segment-button value="recientes">
        <ion-label>Recientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="top_rated">
        <ion-label>Mejores Puntuadas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        <ion-label>Próximamente</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (movies.length === 0 && isLoading) {
    <ion-grid>
      <ion-row>
        @for (i of [1,2,3,4,5,6]; track i) {
          <ion-col size="6" class="movie-col">
            <ion-card class="movie-card skeleton-card">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  } @else {
    <ion-grid>
      <ion-row>
        @for (movie of movies; track movie.id) {
          <ion-col size="6" class="movie-col">
            <a [routerLink]="['/movie', movie.id]">
              <ion-card class="movie-card">
                @if (movie.poster_path) {
                  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
                } @else {
                  <div class="no-image-placeholder">
                    <ion-icon name="videocam-off-outline"></ion-icon>
                  </div>
                }
              </ion-card>
            </a>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>